@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<shortenyour.link.Models.Announcement>
@{
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>IsActived</th>
                <th>PROCESS</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <h2>THERE İS NO ANNOUNCENT</h2>
            }
            else {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.IsActived</td>
                    <td>
                        <a asp-controller="admin" asp-action="editAnnouncement" asp-route-id="@item.Id">Edit</a>
                        <a asp-controller="admin" asp-action="DeleteAnnouncement" asp-route-id="@item.Id">Delete</a>
                        <a asp-controller="admin" asp-action="toggleActived" asp-route-id="@item.Id">Active / Deactive</a>
                    </td>
                </tr>
            }
            }
        </tbody>
    </table>
}
