@page
@using shortenyour.link.Models;
@model shortenyour.link.Areas.Identity.Pages.Account.Manage.LinkManagementModel
@{
    <h1>Link Management</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Owner Mail</th>
                <th>Original URL</th>
                <th>Shorted URL</th>
                <th>Click Count</th>
                <th>Link Balance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var link in (IEnumerable<Link>)ViewData["Links"])
            {
                <tr>

                    <td>@link.OwnerMail</td>
                    <td>@link.originalUrl</td>
                    <td>@link.LinkUrl</td>
                    <td>@link.Click_Count</td>
                    <td>@link.LinkBalance</td>
                    <td>
                        <a asp-action="LinkInfo" asp-controller="Link" asp-route-id="@link.Id">Info</a>
                        <a asp-action="DeleteLink" asp-controller="Link" asp-route-id="@link.Id">Remove</a>
                        <a class="btn btn-dark" asp-controller="Link" asp-action="MoneyRequest" asp-route-id="@link.Id">Money Request</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
